<section class="FooterBackGroungColor1 BackGroundIMG1">
  <app-header></app-header>
  <div class="container">
    <div class="row"  fxLayout="column">
      <div class="col-lg-5 m-auto col-md-8 col-12 text-center">
        <div class="FormsCSS">
          <h4 class="Title_Login">Reset Password</h4>  
          <!-- Form Section Start -->
          <form [formGroup]="accountDetailsForm" novalidate (ngSubmit)="onSubmitAccountDetails(accountDetailsForm.value)">
       <!-- Password -->
       <div formGroupName="matching_passwords">
          <input placeholder="Password" type="password" class="InputField_Login"
          formControlName="password">
          
          <div class="err">
            <mat-error *ngFor="let validation of account_validation_messages.password">
              <mat-error class="error-message" *ngIf="accountDetailsForm.get('matching_passwords').get('password').hasError(validation.type) && (accountDetailsForm.get('matching_passwords').get('password').dirty || accountDetailsForm.get('matching_passwords').get('password').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </div>

          <!-- Confirm Password -->
          <input placeholder="Confrim Password" type="password" class="InputField_Login"
            formControlName="confirm_password"
            ([errorStateMatcher])="parentErrorStateMatcher" required>

          <div class="err">
            <mat-error *ngFor="let validation of account_validation_messages.confirm_password">
              <mat-error class="error-message"
               *ngIf="(accountDetailsForm.get('matching_passwords')
               .get('confirm_password').hasError(validation.type)|| accountDetailsForm.get('matching_passwords').hasError(validation.type)) && (accountDetailsForm.get('matching_passwords').get('confirm_password').dirty || accountDetailsForm.get('matching_passwords').get('confirm_password').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </div>
        </div>
           
            
            <!-- Re-Captcha -->
            <div fxLayoutAlign="center center" class="ReCaptcha mt-4">
              <re-captcha (resolved)="resolved($event)" siteKey="6LdwMMgUAAAAAGteaHHXv3OTn8I9nYXO-USZVdbk"></re-captcha>	
            </div>
              <button class="Submin_Btn" type="submit" [disabled]="!accountDetailsForm.valid">Submit</button>
          </form>
          <!-- Form Section End -->
        </div>
      </div>
    </div>
  </div>
</section>