<div class="container-fluid">
  <div class="row FooterSection">
    <div class="col-lg-5">
      <div class="FooterCompanyDetails">
          <img src="assets/images/logo.png" alt="">
          <p class="FoterDesc">About Company is the world number one crypto exchange with many users.</p>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
        <h3 class="FooterLinkHeading">Quick Links</h3>
        <ul class="FooterLinkItem">
          <li routerLink='/HomePage'><span class="effect-3">Home</span></li>
          <li class="" routerLink='/AboutUs'><span class="effect-3">AboutUs</span></li>
          <li class=""><span class="effect-3">Market</span></li>
          <li class=""><span class="effect-3">Blog</span></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
          <h3 class="FooterLinkHeading">Navigate</h3>
          <ul class="FooterLinkItem">
            <li class="FoterLink"><span class="effect-3">Company</span></li>
            <li class="FoterLink"><span class="effect-3">Developer</span></li>
            <li class="FoterLink"><span class="effect-3">Advisers</span></li>
            <li class="FoterLink"><span class="effect-3">Connect</span></li>
          </ul>
      </div>
      <div class="col-lg-3">
          <h3 class="FooterLinkHeading">Contact Us</h3>
          <ul class="FooterContactUsList ">
            <li class="FooterContactUsItem"><i class="fa fa-envelope-o" aria-hidden="true"></i><span class="FooterContactUsDetails">u2admin@gmail.com</span></li>
            <li class="FooterContactUsItem"><i class="fa fa-phone" aria-hidden="true"></i><span class="FooterContactUsDetails">+91 2395744286</span></li>
            <li class="FooterContactUsItem"><i class="fa fa-map-marker" aria-hidden="true"></i><span class="FooterContactUsDetails">234, Dubai main road<br>Dubai</span></li>
          </ul>
      </div>
      <div class="col-lg-12 FoterSocialLink">
          <a href="" class="FoterSocialItem"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="" class="FoterSocialItem"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="" class="FoterSocialItem"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <div class="FoterHrLine"></div>
      </div>
      <div class="col-lg-12 text-center">
          <h5 class="copyright">&copy;Copyright 2020 U2Admin. All rights reserved.</h5>
      </div>
  </div>
</div>

 
   