<nav class="navbar fixed-top navbar-expand-md" style="background-color: #010140">
    <!-- Brand -->
    <a class="navbar-brand" routerLink='/HomePage'><img src="/assets/images/logo.png"></a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <mat-icon style="color:black">menu</mat-icon>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <button routerLink='/Support' class="btn navBtn" >Support</button>
            </li>
            <li class="nav-item active">
                <div class="dropdown">
                <mat-icon matBadge="15" matBadgeColor="accent" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="shakeit" style="color:white;margin-top: 10px;">notification_important</mat-icon>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="dropdownMenu">
                    <button class="dropdown-item" type="button">Exchange Notification</button>
                    <button class="dropdown-item" type="button">Send Notification</button>
                    <button class="dropdown-item" type="button">Deposit Notification</button>
                  </div>
                  </div>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <button class="dropdown-toggle UserDetails" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="assets/images/44948.png" class="UserIMG" alt=""><span class="UserName">Balaji</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item" type="button">Action</button>
                  <button class="dropdown-item" type="button">Login</button>
                </div>
              </div>
            </li>
          </ul>
          <!-- <ul class="navbar-nav ml-auto px-2">    
                  <li class="nav-item">
                  <button routerLink='/Support' class="btn navBtn" >Support</button>
                </li>
                <li class="nav-item active">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                  </div>
              </li>
                <li class="nav-item active">
                    <mat-icon matBadge="15" matBadgeColor="accent" class="shakeit" style="color:white;margin-top: 10px;">notification_important</mat-icon>
                </li>
                
                <li class="nav-item active nav_UserDetails" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             
                  <img src="assets/images/44948.png" alt="">
                  <div class="nav_UserName" >
				        	<span>Jhon Deo</span>
				          </div>
                <i class="fa fa-angle-down" aria-hidden="true" style="color:white;margin-top:20px;font-size:26px;"></i>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style=" margin-left:159px;  ">
						<a class="dropdown-item">Action</a>
						<a class="dropdown-item">Logout</a>
						<a class="dropdown-item">Somethin</a>
					</div>	
			</li>
    </ul> -->
    </div>
  </nav> 
  
    
