
<section class="FooterBackGroungColor1">
  <app-header></app-header>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mt-4">
        <img src="assets/images/AboutUs.png" alt="" class="pull-left">
      </div>
      <div class="col-lg-8">
        <h2 class="mt-4 About_Us_Heading">About Us</h2>
        <p class="ml-2 AboutUs_Section">U2ADMIN is the native coin of its own PoS blockchain,
           the U2ADMIN Network (eurekanetwork.io) and we have many projects
           preparing to build upon it using tokens.
           The U2ADMIN blockchain will not only be Proof of Stake itself 
           ( meaning U2ADMIN in itself can be used to earn passively ) 
           but other tokens/ sidechain coins will be able to be proof of stake
           in themselves securing their own network.</p>
           <p class="mt-4 ml-2 AboutUs_Section">U2ADMIN is the native coin of its own PoS blockchain,
              the U2ADMIN Network (eurekanetwork.io) and we have many projects
              preparing to build upon it using tokens.
              The U2ADMIN blockchain will not only be Proof of Stake itself 
              ( meaning U2ADMIN in itself can be used to earn passively ) 
              but other tokens/ sidechain coins will be able to be proof of stake
              in themselves securing their own network.</p>
      </div>
      <div class="col-lg-12">
          <p class="AboutUs_Section ml-2">U2ADMIN is the native coin of its own PoS blockchain,
              the U2ADMIN Network (eurekanetwork.io) and we have many projects
              preparing to build upon it using tokens.
              The U2ADMIN blockchain will not only be Proof of Stake itself 
              ( meaning U2ADMIN in itself can be used to earn passively ) 
              but other tokens/ sidechain coins will be able to be proof of stake
              in themselves securing their own network.</p>
      </div>

    </div>
  </div>
</section>
<section class="FooterBackGroungColor mt-4">
  <app-footer></app-footer>
</section>
