<section style="margin-top:146px;">
        <div  class="container">
          <div  class="row">
            <div class="Dashboard-UserDetails text-white text-center col-lg-12 mt-4">
              <div  class="col-lg-3 col-sm-12">
                  <div  class="Dashboard-UserDetails-List"><strong >Account Status :</strong>
                      <span  class="Dashboard_UserDetails-Status"> Approved </span>
                  </div>
              </div>
              <div  class="col-lg-3 col-sm-12">
                  <div  class="Dashboard-UserDetails-List"><strong >Created On :</strong>
                      <span class="Dashboard_UserDetails-Date"> 28/02/2020 </span>
                  </div>
              </div>
              <div  class="col-lg-3 col-sm-12">
                  <div  class="Dashboard-UserDetails-List"><strong >Account Number :</strong>
                      <span class="Dashboard_UserDetails-Ac-Number"> SDF945783 </span>
                  </div>
              </div>
              <div  class="col-lg-3 col-sm-12">
                  <div class="Dashboard-UserDetails-List1"><button  class="DashboardBtnSEND_RECEIVE" routerlink="/Send_Receive" tabindex="0" ng-reflect-router-link="/Send_Receive">Send <span  style="margin: 0px 7px;">/</span> Receive</button></div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Account Balance -->
<!-- <section>
  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-lg-6">
        <div class="Account_Balance">
          <div class="Account_Balance_Heading">
            <p>Account_Balance</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
          <div class="Account_Balance">
            <div class="Account_Balance_Heading">
              <p>ID_Verification</p>
            </div>
            <div class="Dashboard_ID_Verfication">
              
                <ul class="IDProof pull-left">
                  <li>KYC ID Proof ( FrontSide )</li>
                  <li>KYC ID Proof ( BackSide )</li>
                  <li>Selfie ID Proof</li>
                </ul>
        
                <ul class="IDProof pull-right">
                  <li>Verified</li>
                  <li>Verified</li>
                  <li>Verified</li>
                </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</section> -->

<section>
  <div class="container">
    <div class="row">
      <div  class="col-lg-12 mt-4 mb-4">
          <h2  class="Dashboard_Heading mt-4">Market Price</h2>
      </div>
      <div class="col-lg-3">
        <div class="Dashboard_MarketPrice_List">
            <p  class="pull-right" style="color:green"><i  aria-hidden="true" class="fa fa-caret-up"></i> 0.84%</p><br >
            <h5  class="Dashboard_Market_Price_Heading">Bitcoin</h5><span  class="Dashboard_Market_Price_Desc">BTC</span><br >
            <div  class=""><span  class="Dashboard_Market_Price_Desc">$ 23.565</span><span  class="Dashboard_Market_Price_Desc pull-right">1.00</span></div>
        </div>
      </div>  
      <div class="col-lg-3">
        <div class="Dashboard_MarketPrice_List">
            <p  class="pull-right" style="color:green"><i  aria-hidden="true" class="fa fa-caret-up"></i> 0.84%</p><br >
            <h5  class="Dashboard_Market_Price_Heading">Bitcoin</h5><span  class="Dashboard_Market_Price_Desc">BTC</span><br >
            <div  class=""><span  class="Dashboard_Market_Price_Desc">$ 23.565</span><span  class="Dashboard_Market_Price_Desc pull-right">1.00</span></div>
        </div>
      </div> 
      <div class="col-lg-3">
        <div class="Dashboard_MarketPrice_List">
            <p  class="pull-right" style="color:green"><i  aria-hidden="true" class="fa fa-caret-up"></i> 0.84%</p><br >
            <h5  class="Dashboard_Market_Price_Heading">Bitcoin</h5><span  class="Dashboard_Market_Price_Desc">BTC</span><br >
            <div  class=""><span  class="Dashboard_Market_Price_Desc">$ 23.565</span><span  class="Dashboard_Market_Price_Desc pull-right">1.00</span></div>
        </div>
      </div> 
      <div class="col-lg-3">
        <div class="Dashboard_MarketPrice_List">
            <p  class="pull-right" style="color:green"><i  aria-hidden="true" class="fa fa-caret-up"></i> 0.84%</p><br >
            <h5  class="Dashboard_Market_Price_Heading">Bitcoin</h5><span  class="Dashboard_Market_Price_Desc">BTC</span><br >
            <div  class=""><span  class="Dashboard_Market_Price_Desc">$ 23.565</span><span  class="Dashboard_Market_Price_Desc pull-right">1.00</span></div>
        </div>
      </div>   
    </div>
  </div>
</section>
<!-- 
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mt-4">
        <div class="Balance_Details">
          <table class="Balance_Table">
              <tr><th class="Table_Heading">Currency</th><th class="Table_Heading">Balance</th></tr>
              <tr><td>INR</td><td>12,000</td><td>Deposite</td><td>withdrraw</td></tr>
              <tr><td>BTC</td><td>12,000</td><td>Send</td><td>Receive</td></tr>
              <tr><td>ETH</td><td>12,000</td><td>Send</td><td>Receive</td></tr>
              <tr><td>LIT</td><td>12,000</td><td>Send</td><td>Receive</td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section>
  <div  class="container">
      <div  class="row">
          <div  class="col-lg-12">
              <h2  class="Dashboard_Heading mt-4">Market Price</h2>
          </div>
      </div>
      <div  class="Dashboard_MarketPrice_Section">
          <div  class="row">
              <div  class="col-lg-3 Dashboard_MarketPrice_List">
                  <div  class="Dashboard_MarketPrice_List1">
                      <p  class="pull-right" style="color:green"><i  aria-hidden="true" class="fa fa-caret-up"></i> 0.84%</p><br >
                      <h5  class="Dashboard_Market_Price_Heading">Bitcoin</h5><span  class="Dashboard_Market_Price_Desc">BTC</span><br >
                      <div  class="Dashboard_Market_Price_GraphSection">
                          <div  class="pull-left"><span  class="Dashboard_Market_Price_Desc">$ 23.565</span><br ><span  class="Dashboard_Market_Price_Desc">1.00</span></div>
                          <div  class="pull-right"><img  alt="" src="assets/images/graph1.png"></div>
                      </div>
                  </div>
              </div>
              <div  class="col-lg-3 Dashboard_MarketPrice_List">
                  <div  class="Dashboard_MarketPrice_List1">
                      <p  class="pull-right" style="color:red"><i  aria-hidden="true" class="fa fa-caret-down"></i> 0.84%</p><br >
                      <h5  class="Dashboard_Market_Price_Heading">Bitcoin</h5><span  class="Dashboard_Market_Price_Desc">BTC</span>
                      <div  class="Dashboard_Market_Price_GraphSection">
                          <div  class="pull-left"><span  class="Dashboard_Market_Price_Desc">$ 23.565</span><br ><span  class="Dashboard_Market_Price_Desc">1.00</span></div>
                          <div  class="pull-right"><img  alt="" src="assets/images/graph2.png"></div>
                      </div>
                  </div>
              </div>
              <div  class="col-lg-3 Dashboard_MarketPrice_List">
                  <div  class="Dashboard_MarketPrice_List1">
                      <p  class="pull-right" style="color:green"><i  aria-hidden="true" class="fa fa-caret-up"></i> 0.84%</p><br >
                      <h5  class="Dashboard_Market_Price_Heading">Bitcoin</h5><span  class="Dashboard_Market_Price_Desc">BTC</span>
                      <div  class="Dashboard_Market_Price_GraphSection">
                          <div  class="pull-left"><span  class="Dashboard_Market_Price_Desc">$ 23.565</span><br ><span  class="Dashboard_Market_Price_Desc">1.00</span></div>
                          <div  class="pull-right"><img  alt="" src="assets/images/grahp3.png"></div>
                      </div>
                  </div>
              </div>
              <div  class="col-lg-3 Dashboard_MarketPrice_List">
                  <div  class="Dashboard_MarketPrice_List1">
                      <p  class="pull-right" style="color:red"><i  aria-hidden="true" class="fa fa-caret-down"></i> 0.84%</p><br >
                      <h5  class="Dashboard_Market_Price_Heading">Bitcoin</h5><span  class="Dashboard_Market_Price_Desc">BTC</span>
                      <div  class="Dashboard_Market_Price_GraphSection">
                          <div  class="pull-left"><span  class="Dashboard_Market_Price_Desc">$ 23.565</span><br ><span  class="Dashboard_Market_Price_Desc">1.00</span></div>
                          <div  class="pull-right"><img  alt="" src="assets/images/graph4.png"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> -->
 
<!-- Martket Parice Section  -->
<!-- <section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="Dashboard_Heading mt-4">Market Price</h2>
      </div>
    </div>
      <div class="row Dashboard_MarketPrice_Section">
        <div class="col-lg-3 Dashboard_MarketPrice_List">
          <div class="Dashboard_MarketPrice_List1">
            <p class="pull-right" style="color:green"><i class="fa fa-caret-up" aria-hidden="true"></i> 0.84%</p><br>
            <h5 class="Dashboard_Market_Price_Heading">Bitcoin</h5><span class="Dashboard_Market_Price_Desc">BTC</span><br>
            <div class="Dashboard_Market_Price_GraphSection">
              <div class="pull-left">
                  <span class="Dashboard_Market_Price_Desc">$ 23.565</span><br>
                  <span class="Dashboard_Market_Price_Desc">1.00</span>
              </div> 
              <div class="pull-right" >
                <img src="assets/images/graph1.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 Dashboard_MarketPrice_List">
            <div class="Dashboard_MarketPrice_List1">
              <p class="pull-right" style="color:red"><i class="fa fa-caret-down" aria-hidden="true"></i> 0.84%</p><br>
              <h5 class="Dashboard_Market_Price_Heading">Ripple</h5><span class="Dashboard_Market_Price_Desc">BTC</span>            
              <div class="Dashboard_Market_Price_GraphSection">
                  <div class="pull-left">
                      <span class="Dashboard_Market_Price_Desc">$ 23.565</span><br>
                      <span class="Dashboard_Market_Price_Desc">1.00</span>
                  </div> 
                  <div class="pull-right" >
                    <img src="assets/images/graph2.png" alt="">
                  </div>
                </div>
            </div>
          </div>
          <div class="col-lg-3 Dashboard_MarketPrice_List">
              <div class="Dashboard_MarketPrice_List1">
                <p class="pull-right" style="color:green"><i class="fa fa-caret-up" aria-hidden="true"></i> 0.84%</p><br>
                <h5 class="Dashboard_Market_Price_Heading">Ethereum</h5><span class="Dashboard_Market_Price_Desc">BTC</span>
                <div class="Dashboard_Market_Price_GraphSection">
                    <div class="pull-left">
                        <span class="Dashboard_Market_Price_Desc">$ 23.565</span><br>
                        <span class="Dashboard_Market_Price_Desc">1.00</span>
                    </div> 
                    <div class="pull-right" >
                      <img src="assets/images/grahp3.png" alt="">
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-lg-3 Dashboard_MarketPrice_List">
                <div class="Dashboard_MarketPrice_List1">
                  <p class="pull-right" style="color:red"><i class="fa fa-caret-down" aria-hidden="true"></i> 0.84%</p><br>
                  <h5 class="Dashboard_Market_Price_Heading">Litecoin</h5><span class="Dashboard_Market_Price_Desc">BTC</span>
                  <div class="Dashboard_Market_Price_GraphSection">
                      <div class="pull-left">
                          <span class="Dashboard_Market_Price_Desc">$ 23.565</span><br>
                          <span class="Dashboard_Market_Price_Desc">1.00</span>
                      </div> 
                      <div class="pull-right" >
                        <img src="assets/images/graph4.png" alt="">
                      </div>
                    </div>
                </div>
              </div>
            </div>
  </div>
</section> -->

<section >
  <div class="container mt-4">
    <div class="row">
      <!-- <div class="col-lg-3" fxHide fxShow.gt-sm>
          <h2 class="Dashboard_Heading mt-4 mb-4">Coin</h2>
          <div class="Dashborad_Profile_section_Coin">
            <div class="col-lg-4 col-sm-4 col-xs-4 Dashboard_Coin_Img">
              <img src="assets/images/Bitcoin(1).png" alt="">
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-4 Dashboard_Coin_Img">
              <img src="assets/images/Layer2.png" alt="">
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-4 Dashboard_Coin_Img">
              <img src="assets/images/Layer3.png" alt="">
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-4 Dashboard_Coin_Img">
              <img src="assets/images/Zcash@2x.png" alt="">
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-4 Dashboard_Coin_Img">
              <img src="assets/images/dash_dashcoin-512.png" alt="">
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-4 Dashboard_Coin_Img">
              <img src="assets/images/ripple_xrp_coin-512.png" alt="">
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-4 Dashboard_Coin_Img">
              <img src="assets/images/Layer4.png" alt="">
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-4 Dashboard_Coin_Img">
              <img src="assets/images/neo-coin-investment-cryptocurrency-tokens-300x300.png" alt="">
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-4 Dashboard_Coin_Img">
              <img src="assets/images/Bitcoin.png" alt="">
            </div>
          </div>
      </div> -->
      <div class="col-lg-4">
          <h2 class="Dashboard_Heading mt-4 mb-4">Profile info</h2>
          <div class="Dashborad_Profile_section">
              <mat-icon class="pull-right Dashboard_Edit_Icon">create</mat-icon><br>
              <div class="CenterPart">
                  <div class="text-center">
                      <img src="assets/images/Avator.png" alt="" class="Dashboard_Avator_Img text-center">
                  </div>
                  <p class="text-center Dashboard_Profile_Name">John Deo</p>
                  <p class="text-center Dashboard_Profile_MailID">
                    <span class="text-white">johndeo2802@gmail.com</span>
                    <span class="text-white">+91 4658239057</span>
                  </p>
              </div>
             
              <div class="Dashboard_Edit_section text-center">View</div>
          </div>
      </div>
      <div class="col-lg-4">
          <h2 class="Dashboard_Heading mt-4 mb-4">ID Verification</h2>
          <div class="Dashborad_Profile_section">
              <mat-icon class="pull-right Dashboard_Edit_Icon">create</mat-icon><br>
              <div class="text-center">
                  <!-- <img src="assets/images/Avator.png" alt="" class="Dashboard_Avator_Img text-center"> -->
              </div>
              <!-- <p class="text-center Dashboard_Profile_Name">KYC ID Avaliable</p>
              <p class="text-center Dashboard_Profile_MailID">
                <span class="text-white">Selfie ID proof</span>
                <span class="text-white">Aadhar Card</span>
              </p> -->
              <!-- <div class="KYCVerification_Dashboard"> --><div class="CenterPart">
               <ul class="KYCVerification_Dashboard">
                 <li><span class="pull-left">Selfie</span><span class="pull-right" style="color:green">Verified</span></li>
                 <li><span class="pull-left">ID_Proof ( FrontSide )</span><span class="pull-right" style="color:green">Verified</span></li>
                 <li><span class="pull-left">ID_Proof ( BackSide )</span><span class="pull-right" style="color:green">Verified</span></li>
               </ul>
              </div>
              <!-- </div> -->
              <div class="Dashboard_Edit_section text-center">View</div>
          </div>
      </div>
      <div class="col-lg-4">
          <h2 class="Dashboard_Heading mt-4 mb-4">Two Factor Authentication</h2>
          <div class="Dashborad_Profile_section">
              <mat-icon class="pull-right Dashboard_Edit_Icon">create</mat-icon><br>
              <div class="CenterPart">
                  <div class="text-center">
                      <img src="assets/images/Layer1.png" alt="" class="Dashboard_Avator_Img text-center">
                  </div>
                  <p class="text-center Dashboard_Profile_Name">Scan QR Code </p>
                  <p class="text-center Dashboard_Profile_MailID">
                    <span class="text-white">Install Your Code</span>
                    <span class="text-white">SDE34556778</span>
                  </p>
              </div>
            
              <div class="Dashboard_Edit_section text-center" data-toggle="modal" data-target="#exampleModalCenter">View</div>

                            <!-- Modal -->
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    
                      
                      
                    
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <div class="text-center">
                        <div class="Model_Title">Two Factor Authentication</div>
                        <div class="Model_Address text-center">Afdgf4dsg34DffcDF57</div>
                        <div class="text-center">
                          <img src="assets/images/Layer1.png" alt="" class="">
                      </div>
                      <p>Scan QR Code</p>
                      <p>Please save your key this will help you recover your authentication in case of phone loss</p>
                      <mat-form-field appearance="outline" class="col-lg-12">
                        <mat-label>Authentication Key</mat-label>
                        <input matInput placeholder="Palce Your Key Here">                      
                      </mat-form-field>
                      <button class="Model_Btn">Enable</button>
                      </div>
                    </div>
                   
                  </div>
                </div>
              </div>
              
          </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row mt-4 mb-4">
      <div class="col-lg-12">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-lg-12" style="    height: 330px;">
        
              <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Date & Time </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> IP Address </th>
                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <!-- <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> IFSC Code </th>
                  <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container> -->

              <!-- Symbol Column -->
              <ng-container matColumnDef="View">
                  <th mat-header-cell *matHeaderCellDef> Device </th>
                  <td mat-cell *matCellDef="let element">
                      {{element.View}}
                  </td>
              </ng-container>


              <!-- Symbol Column -->
              <ng-container matColumnDef="Delete">
                  <th mat-header-cell *matHeaderCellDef> Country </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.Delete}}
                  </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      </div>
    </div>
  </div>
</section>

<!-- Transaction & Login History Section -->
<!-- <section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12 col-xs-6">
          <h2 class="Dashboard_Heading mt-4 mb-4">Transaction History</h2>
          <div class="row">
            <div class="Dashboard_LoginHistory">
                            
            <div class="col-lg-2 col-sm-2" fxHide fxShow.gt-sm>
                <div class="Transaction_History_Icon">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col-lg-5 col-sm-5 pull-left Transaction_HIstory">
                <span>Send: For Exchange</span>
                <span>John Deo</span>
              </div>
              <div class="col-lg-5 col-sm-5 pull-right Transaction_HIstory1">
                  <span>$ 34.56 | 1.00 BTC</span>
                  <span>02 Jan 2020</span>
              </div>
            </div>

            </div>
            <div class="row">
                <div class="Dashboard_LoginHistory">
                <div class="col-lg-2 col-sm-2" fxHide fxShow.gt-sm>
                  <div class="Transaction_History_Icon1">
                      <i class="fa fa-arrow-left" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="col-lg-5 col-sm-5 pull-left Transaction_HIstory">
                  <span>Receive: For Exchange</span>
                  <span>John Deo</span>
                </div>
                <div class="col-lg-5 col-sm-5 pull-right Transaction_HIstory1">
                    <span>$ 34.56 | 1.00 BTC</span>
                    <span>02 Jan 2020</span>
                </div>
              </div>
              </div>

              <div class="row">
                  <div class="Dashboard_LoginHistory">
                  <div class="col-lg-2 col-sm-2" fxHide fxShow.gt-sm>
                    <div class="Transaction_History_Icon">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="col-lg-5 col-sm-5 pull-left Transaction_HIstory">
                    <span>Send: For Exchange</span>
                    <span>John Deo</span>
                  </div>
                  <div class="col-lg-5 col-sm-5 pull-right Transaction_HIstory1">
                      <span>$ 34.56 | 1.00 BTC</span>
                      <span>02 Jan 2020</span>
                  </div>
                </div>
                </div>

                <div class="row">
                    <div class="Dashboard_LoginHistory">
                    <div class="col-lg-2 col-sm-2" fxHide fxShow.gt-sm>
                      <div class="Transaction_History_Icon1">
                          <i class="fa fa-arrow-left" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="col-lg-5 pull-left Transaction_HIstory">
                      <span>Receive: For Exchange</span>
                      <span>John Deo</span>
                    </div>
                    <div class="col-lg-5 pull-right Transaction_HIstory1">
                        <span>$ 34.56 | 1.00 BTC</span>
                        <span>02 Jan 2020</span>
                    </div>
                  </div>
                  </div>

                  <div class="row">
                      <div class="Dashboard_LoginHistory">
                      <div class="col-lg-2 col-sm-2" fxHide fxShow.gt-sm>
                        <div class="Transaction_History_Icon">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </div>
                      </div>
                      <div class="col-lg-5 pull-left Transaction_HIstory">
                        <span>Send: For Exchange</span>
                        <span>John Deo</span>
                      </div>
                      <div class="col-lg-5 pull-right Transaction_HIstory1">
                          <span>$ 34.56 | 1.00 BTC</span>
                          <span>02 Jan 2020</span>
                      </div>
                    </div>
                    </div>

                    <div class="row">
                        <div class="Dashboard_LoginHistory">
                        <div class="col-lg-2 col-sm-2" fxHide fxShow.gt-sm>
                              <div class="Transaction_History_Icon1">
                              <i class="fa fa-arrow-left" aria-hidden="true"></i>
                          </div>
                        </div>
                        <div class="col-lg-5 pull-left Transaction_HIstory">
                          <span>Receive: For Exchange</span>
                          <span>John Deo</span>
                        </div>
                        <div class="col-lg-5 pull-right Transaction_HIstory1">
                            <span>$ 34.56 | 1.00 BTC</span>
                            <span>02 Jan 2020</span>
                        </div>
                      </div>
                      </div>

          
      </div>
      <div class="col-lg-6">
          <h2 class="Dashboard_Heading mt-4 mb-4">Login History</h2>
          <div class="row">
              <div class="Dashboard_LoginHistory">
                  <div class="col-lg-6 pull-left Dashboard_Item1 ">
                      <span>Chrome, Window</span>
                      <span>192.168.2.174</span>
                    </div>
                    <div class="col-lg-6 pull-right Dashboard_Item2">
                        <span>28/01/2020, 08:25:60</span>
                        <span>India</span>
                    </div>
              </div>
            </div>
            <div class="row ">
                <div class="Dashboard_LoginHistory">
                    <div class="col-lg-6 pull-left Dashboard_Item1 ">
                        <span>Chrome, Window</span>
                        <span>192.168.2.174</span>
                      </div>
                      <div class="col-lg-6 pull-right Dashboard_Item2  ">
                          <span>28/01/2020, 08:25:60</span>
                          <span>India</span>
                      </div>
                </div>
              </div>
              <div class="row ">
                  <div class="Dashboard_LoginHistory">
                      <div class="col-lg-6 pull-left Dashboard_Item1 ">
                          <span>Chrome, Window</span>
                          <span>192.168.2.174</span>
                        </div>
                        <div class="col-lg-6 pull-right Dashboard_Item2  ">
                            <span>28/01/2020, 08:25:60</span>
                            <span>India</span>
                        </div>
                  </div>
                </div>
                <div class="row ">
                    <div class="Dashboard_LoginHistory">
                        <div class="col-lg-6 pull-left Dashboard_Item1 ">
                            <span>Chrome, Window</span>
                            <span>192.168.2.174</span>
                          </div>
                          <div class="col-lg-6 pull-right Dashboard_Item2  ">
                              <span>28/01/2020, 08:25:60</span>
                              <span>India</span>
                          </div>
                    </div>
                  </div>
                  <div class="row ">
                      <div class="Dashboard_LoginHistory">
                          <div class="col-lg-6 pull-left Dashboard_Item1 ">
                              <span>Chrome, Window</span>
                              <span>192.168.2.174</span>
                            </div>
                            <div class="col-lg-6 pull-right Dashboard_Item2  ">
                                <span>28/01/2020, 08:25:60</span>
                                <span>India</span>
                            </div>
                      </div>
                    </div>
                    <div class="row ">
                        <div class="Dashboard_LoginHistory">
                            <div class="col-lg-6 pull-left Dashboard_Item1 ">
                                <span>Chrome, Window</span>
                                <span>192.168.2.174</span>
                              </div>
                              <div class="col-lg-6 pull-right Dashboard_Item2  ">
                                  <span>28/01/2020, 08:25:60</span>
                                  <span>India</span>
                              </div>
                        </div>
                      </div>
      </div>
    </div>
  </div>
</section> -->



