<!-- <div class="SideNavigation">
    <ul class="row Sidenav">
        <li class="sidenav_Items col-lg-11 col-6" routerLink='/Dashboard'>
           <mat-icon>dashboard</mat-icon><p class="sidenav_Desc">Dashboard</p></li>
        <li class="sidenav_Items col-lg-11 col-6" routerLink='/Exchange'>
            <mat-icon>repeat</mat-icon><p class="sidenav_Desc">Exchange</p></li>
        <li class="sidenav_Items col-lg-11 col-6" routerLink='/Send_Receive'>
            <mat-icon>swap_horizontal_circle</mat-icon><p class="sidenav_Desc">Send / Receive</p></li>
        <li class="sidenav_Items col-lg-11 col-6" routerLink='/Your_Profile'>
            <mat-icon>settings_input_svideo</mat-icon><p class="sidenav_Desc">Settings</p></li>
        <li class="sidenav_Items col-lg-11 col-6" routerLink='/DepositWithdraw'>
            <mat-icon>archive
                </mat-icon><p class="sidenav_Desc">Deposit / Withdraw</p></li>
        <li class="sidenav_Items col-lg-11 col-6">
            <mat-icon>power_settings_new</mat-icon><p class="sidenav_Desc">Logout</p></li>
      </ul>
</div> -->

<div class="sidenav mb-4">
    <a routerLink='/Dashboard' class="active"><mat-icon>dashboard</mat-icon>Dashboard</a>
    <a routerLink='/Exchange'> <mat-icon>repeat</mat-icon>Exchange</a>
    <a routerLink='/Send'><mat-icon>swap_horizontal_circle</mat-icon>Send / Receive</a>
    <a routerLink='/Settings'> <mat-icon>settings_input_svideo</mat-icon>Settings</a>
    <a routerLink='/Deposit'><mat-icon>archive</mat-icon>Deposit / Withdraw</a>
    <a><mat-icon>power_settings_new</mat-icon>Logout</a>
  </div>
  