.avatar-upload .avatar-edit input {
    display: none;
  }
  .avatar-preview {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    border: 12px solid #fff;
    -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
    box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  }
  
  .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    // background: moccasin;
    color: #0E1F70;
    font-weight: 700;
    margin-top: 8px;
    border: 1px solid #0E1F70;
    // border-top: 1px solid #ffff;border-right: 1px solid #ffff;border-left: 1px solid #ffff;
    // border-bottom: 2px solid #0E1F70!important;
    background-color: #E72B90;
  }
  .nav-link:hover{
    // border-top: 1px solid #ffff;border-right: 1px solid #ffff;border-left: 1px solid #ffff;
    // border-bottom: 2px solid #0E1F70!important;
    background-color: #E72B90;
    border: 1px solid #0E1F70;
  }
  .nav-tabs .nav-item .nav-link, .nav-tabs{
    color: #0E1F70;
    // background-color: #ffffff;
    font-size: 16px;
    margin-top: 8px;
    border-bottom: 1px solid transparent;
    font-weight: 700;
  }
  .nav-link{
      background-color: #ffffff;
      border: 1px solid #0E1F70;
  }
  .nav-tabs .nav-item{
      color: #0E1F70;margin-top: 8px;
      border-radius: 10px;
  }
  .nav-tabs .nav-item:not(:first-child){
      margin-left: 10px;
  }

  .Tab_Section{
    //   background-color: #ffffff;
      height: 56px;
      margin-top: 28px;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #428abc;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 15px 0px 12px 1px;
}
// ul{
//     list-style-type: none;
//     padding-left: 0px;
// }
.matInputt{
    border-radius: 50px;
}
// li{
//     padding: 6px; color: gray;
// }
::ng-deep .mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 150px !important;
}
mat-label{
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}
::ng-deep .mat-select-arrow {
    color: #ffffff;
}
input.mat-input-element {
    color: #ffffff;font-size: 14px;
}
::ng-deep .mat-select-arrow {
    color: #ffffff;
}
::ng-deep .mat-select-value-text {
    color: #ffffff;font-size: 14;
}
::ng-deep textarea.mat-input-element {
    color: #ffffff;
}
::ng-deep .mat-elevation-z8:hover {
    box-shadow: 0 0px 15px 0px #E72B90;
}
::ng-deep .mat-elevation-z8 {
    box-shadow: 0 0px 10px 0px #428abc;
    background-color: transparent;
    // height: 358px;
    text-align: center;
    // color: #ffffff;
}
.BankDetailsTable{
    height: 358px;
}
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #428abc;
}
::ng-deep tr.mat-row:hover td {
  color: #ffffff;background-color: #428abc;
}
::ng-deep tr.mat-row td {
    color: #ffffff;
    border-bottom: 1px solid #428abc;
}
::ng-deep .mat-select-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 0px 15px 0px #E72B90;
}
::ng-deep th.mat-header-cell {
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
}
::ng-deep .mat-select-panel {
    background: #0E1F70;
    color: #ffffff; 
}
::ng-deep .mat-option:hover:not(.mat-option-disabled) {
    background-color: #E72B90;
}
::ng-deep .mat-option-text {
    color: #ffffff;
}
::ng-deep .mat-select-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 0px 15px 0px #428abc;
}
mat-icon{
    color: #ffffff;
}
tr.mat-header-row{
    background-color: #0E1F70;
    color: #ffffff;
  }
@media only screen and (max-width: 600px) {
    .BankDetails{
    height: auto;
    }
    .Profile_Change_Password, .Your_Profile_Update, .Exchange_Notification{
        height: auto;
    }
    td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
        font-size: 13px;
    }
    .ImgHover {
        margin-top: -100px;
        margin-left: -340px;
    }
    
}

@media only screen and (min-width: 1400px) {

}
mat-error{
    font-size: 13px;
}