<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 mt-4 mb-4">
        <h2 class="text-center">Are Argentinians paying for Uber rides with bitcoins?</h2>
      </div>
      <div class="col-lg-10 m-auto">
        <img src="assets/images/Background.png" class="NewsImgDetails" alt="">
      </div>
      <div class="col-lg-12 mt-4 mb-4">
        <p class="NewDesc">
            Citing a declining trend in the budgetary allocations for the all round development of the children in the past couple of years, an NGO said on Thursday that Union Budget 2016-17 should increase spending on different schemes involving children.

            According to Child Rights and You (CRY), the amount allocated for the development of children has decreased from Rs 81,075.26 crore in 2014-15 to Rs 57,918.51 crore in 2015-16.
            
            “In the background of 14th Finance Commission recommendations, the changing ratios and fund devolutions, it is clear that states have differential absorption as well as fund allocating capacities. This year will be crucial year to see how the restructuring is likely to impact children. The budgetary allocations for children should reflect government’s intent of treating children as ‘supremely important asset’,” CRY said in a statement.
            
            The NGO said that the allocation for Integrated Child Development Scheme (ICDS) which provides for care, nutrition health and early learning for underprivileged children, has declined from Rs 16,520 crore in 2014-15 to Rs 12,345 crore in 2015-16.
            
            <br><br>“The scheme (ICDS) that covers only 50 per cent of the population of children through 1.23 million anganwadi (across the country) needs timely and sufficient budgetary allocations in order to effectively implement all six services of ICDS and properly execute the plan of strengthening and restructuring of ICDS,” it said.
            
            Some 15,246 posts of anganwadi supervisor and 83,243 posts of anganwadi helpers have been lying vacant since March 2014, adversely impacting the delivery of services, the NGO said. “Budgetary investment in skilled human resources is non-negotiable to ensure health and development of these children.”
            
            With over 40 per cent of child population below age five being stunted, focused investment needs to be carried out for altering the status of nutrition, it added.
            
            “The Right to Free and Compulsory Education Act (RTE), 2009 has finished five years, however, three-year and five-year targets of RTE Act have not been successfully met. The student classroom ratio varies from 97 in Bihar, 85 in West Bengal and 79 in Jharkhand to 29 in the North Eastern states.”
            
            “Only 34 per cent schools in Bihar and 54 per cent in Jharkhand have access to electricity. So, appropriate expenditure is required to bridge these existing infrastructural gaps.”
            
            According to CRY, over nine lakh teachers in the elementary education system do not have professional qualification has as per RTE norms.
        </p>
      </div>
    </div>
  </div>
</section>
