<section class="FooterBackGroungColor1 BackGroundIMG1">
  <app-header></app-header>
  <div class="container">
    <div class="row"  fxLayout="column">
      <div class="col-lg-5 m-auto col-md-8 col-12 text-center">
        <div class="FormsCSS">
          <h4 class="Title_Login">Forget Password</h4>
          <p class="Desc_Login">If you Remember Password <a routerLink='/Login' class="SignUp_HyperLink">Login</a></p>
          <img src="assets/images/mail-512.png" alt="">
          <!-- Form Section Start -->
          <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <!-- E-Mail_ID Section -->
            <input placeholder="E-mail Address" class="InputField_Login mt-4 mb-2"
            [(ngModel)]="model.email" name="email"
            #email="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" 
            required autocomplete="off">

            <div class="err">
                <mat-error *ngIf="email.invalid && f.submitted && email.errors.required">
                  E-mail_ID Required
                </mat-error>
            </div>

            <div fxLayoutAlign="center center" class="ReCaptcha">
              <re-captcha (resolved)="resolved($event)" siteKey="6LdwMMgUAAAAAGteaHHXv3OTn8I9nYXO-USZVdbk"></re-captcha>	
            </div>

              <button class="Submin_Btn" type="submit" *ngIf="!submitted">Submit</button>
          </form>
          <!-- Form Section End -->
        </div>
      </div>
    </div>
  </div>
</section>