<section class="FooterBackGroungColor1">
  <app-header></app-header>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <p class="Privacy_Policy_Title">Terms & Conditions</p>
      </div>
      
      <div class="col-lg-12">
          <label class="Privacy_Policy_SubTitle">What Information do we collect</label>
          <p class="Privacy_Policy_Desc">Our Privacy Policy Generator includes several compliance verification tools to help you effectively protect your customers privacy, while limiting your liability, all while adhering to the most notable state and federal privacy laws and 3rd party initiatives. All you do is answer a few simple questions about your business and your website privacy policy or website terms & conditions agreement is created and ready to add to your site. In fact, for most people it takes less than 15 minutes.</p>
      </div>
      
      <div class="col-lg-12">
          <label class="Privacy_Policy_SubTitle">What Information do we collect</label>
          <p class="Privacy_Policy_Desc">Our Privacy Policy Generator includes several compliance verification tools to help you effectively protect your customers privacy, while limiting your liability, all while adhering to the most notable state and federal privacy laws and 3rd party initiatives. All you do is answer a few simple questions about your business and your website privacy policy or website terms & conditions agreement is created and ready to add to your site. In fact, for most people it takes less than 15 minutes.</p>
      </div>

      <div class="col-lg-12">
          <label class="Privacy_Policy_SubTitle">What Information do we collect</label>
          <p class="Privacy_Policy_Desc">Our Privacy Policy Generator includes several compliance verification tools to help you effectively protect your customers privacy, while limiting your liability, all while adhering to the most notable state and federal privacy laws and 3rd party initiatives. All you do is answer a few simple questions about your business and your website privacy policy or website terms & conditions agreement is created and ready to add to your site. In fact, for most people it takes less than 15 minutes.</p>
      </div>
    </div>
  </div>
</section>
<section class="FooterBackGroungColor mt-4">
<app-footer></app-footer>
</section>
